@model Test_XuongThucHanh.Models.Staff

@{
    ViewData["Title"] = "Quản lý bộ môn / Chuyên ngành ";
}
<style>
    .container {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .form-control[readonly] {
        background-color: #f5f5f5;
        border: 1px solid #ced4da;
    }

    .detail-row {
        flex: 1; 
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

    .detail-label {
        font-weight: bold;
        margin-bottom: 5px; 
    }

    .detail-value {
    }
</style>

<h3>@ViewData["Title"]</h3>

<div class="container">
    <div class="header">Thông tin nhân viên </div>
    <div class="detail-row">
        <span class="detail-label">
            <h5> Mã  </h5>
        </span>
        <span class="detail-value">
            @Html.TextBoxFor(model => model.Id)
        </span>
    </div>

    <div class="detail-row">
        <span class="detail-label">
            <h5>Tên</h5>
        </span>
        <span class="detail-value">
            @Html.TextBoxFor(model => model.Name)
        </span>
    </div>

    <div class="detail-row">
        <span class="detail-label">
            <h5> Email FE</h5>
        </span>
        <span class="detail-value">
            @Html.TextBoxFor(model => model.AccountFe)
        </span>
    </div>

    <div class="detail-row">
        <span class="detail-label">
            <h5> Email FPT</h5>
        </span>
        <span class="detail-value">
            @Html.TextBoxFor(model => model.AccountFpt)
        </span>
    </div>
</div>
